h1 {
  text-align: center;
  padding: 0em;
  font-size: 3em;
  color: rgb(68, 11, 11);
  text-decoration: underline;
}
/* GAME BOARD */
#board {
  padding-top: 3em;
  text-align: center;
  background-color: rgba(133, 62, 62, 0.685);
  height: 80vh;
  width: 80vh;
  text-align: center;
  margin: auto;
}

.row > div {
  float: left;
  height: 2em;
  width: 2em;
  text-align: center;
  font-size: 3em;
  line-height: 2em;
  color: rgb(243, 191, 191);
}

.row {
  clear: both;
  margin: 0 auto;
  width: 310px;
}

.top {
  border-bottom: 7px solid white;
}

.bottom {
  border-top: 7px solid white;
}

.left {
  border-right: 7px solid white;
}

.right {
  border-left: 7px solid white;
}

.top:hover,
.middle:hover,
.bottom:hover {
  cursor: pointer;
}
/*WINNER ANNOUNCEMENT*/
.winner {
  position: relative;
  top: -5em;
  left: 5px;
  color: rgb(68, 11, 11);
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
}
